body {
	background-color:#666;
}
#center {
	width: 50%
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
button {
	font-size: 24px;
}
#answer {
	width: 15%;
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
	padding: 5px;

	border: solid black 1px;
	border-radius: 5px;
}
table {
	border: solid black 1px;
	border-radius: 5px;
	padding: 5px;
}
