body {
	background-color:#666;
	font-size: 32px;
}
#center {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
button {
	font-size: 24px;
}
#answer {
	width: 29%;
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
	padding: 5px;
	border: solid black 1px;
	border-radius: 5px;
}
table {
	width: 192px;
	margin-left: auto;
	margin-right: auto;
	border: solid black 1px;
	border-radius: 5px;
	padding: 5px;
}
#sideLeft {
	font-size: 24px;
	width: 25%;
	float: left;
}
